header {
  display: grid;
  grid-template-columns: auto auto;
  min-height: 30vh;
  padding: 2em;

  h1 {
    font-size: 3em;
    font-weight: bold;

    span {
      font-size: 1rem;
      font-weight: normal;
    }
  }

  .top-right {
    justify-self: end;
    font-size: 1em;;
  }
}

main {

  > * {
    margin: 1em;
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 2em;
    @media screen and (max-width: 800px) {
      grid-template-columns: auto;
    }

    text-align: center;

    input {
      text-transform: uppercase;
    }
  }
}


footer {
  position: fixed;
  bottom: 2em;
  text-align: center;
  opacity: 20%;
  width: 100%;

  a {
    font-weight: lighter;
    color: white;
  }
}
