header {
  display: grid;
  grid-template-columns: auto auto;
  min-height: 10vh;
  padding: 2em;

  > * {
    height: min-content;
    cursor: pointer;
  }

  h1 {
    font-size: 3em;
    font-weight: bold;

    span {
      font-size: 1rem;
      font-weight: normal;
    }
  }

  .top-right {
    justify-self: end;
    font-size: 1em;

    > i {
      min-width: 1.25em;
      text-align: center;
    }
  }
}

main {

  .main-menu {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    grid-gap: 2em;
    margin: 3em auto;
    max-width: 45em;

    @media screen and (max-width: 500px) {
      grid-template-columns: auto;
    }

    .or { opacity: .2; }

  }

  input {
    text-transform: uppercase;
  }

  .back-btn {
    i { font-size: 0.7em; }
    margin: 3em 2em 0 2em;
    font-weight: 100;
  }

  .menu-b {
    padding: 0.25em 2em;
    display: grid;
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 50em;

    &.find-games {
      i.fa-sync-alt {
        font-size: 0.6em;
      }
      .room-list {
        padding: 1em 1.5em;
        border: 1px solid rgba(253, 255, 252, 0.5);
        border-radius: 0.25em;
        height: 15em;
        overflow-y: auto;

        table {
          width: 100%;
          border-spacing: 0 1em;
          border-collapse: separate;

          tr {

            &:hover {
              color: #2ec2b3;
            }

            .room-code {
              opacity: .4;
            }

            .players {
              text-align: right;
            }

            .timestamp{
              text-align: right;
              opacity: .5;
              font-weight: 100;
            }
          }
        }
      }

      .join-form input {
        max-width: 10em;
      }
    }

    &.new-room {
      .field {
        display: grid;
        grid-template-columns: min-content auto;
        align-items: center;
        grid-gap: 1em;
      }
    }
  }

  h3 {
    font-size: 2.25em;
    font-weight: 100;
    margin-bottom: .5em;
  }
}


footer {
  position: fixed;
  bottom: 2em;
  text-align: center;
  width: 100%;

  a {
    font-weight: lighter;
    color: white;
    opacity: .2;
    margin-right: 2em;

    &.new-user {
      opacity: 1 !important;
      font-weight: bold;
    }
  }
}
