<main>
  <header>
    <h1>THRIO<span>.app</span></h1>

    <div class="top-right">
      <span> {{ authService.user?.displayName }} </span>
      <i class="fas fa-user-cog clickable"></i>
    </div>
  </header>

  <!-- <canvas #canvas width="300" height="300"></canvas> -->

  <div class="options" *ngIf="authService.user">
    <button (click)="newRoom()">New game</button>

    <button (click)="joinPublic()" [disabled]="searching">
      <i class="fas fa-circle-notch fa-spin" *ngIf="searching"></i>
      Join a<br />public game
    </button>

    <form (submit)="joinRoom()">
      <div class="field">
        <input
          type="text"
          [(ngModel)]="roomCode"
          name="roomCode"
          placeholder="Enter a room code"
          autocomplete="off"
          spellcheck="false"
        />
        <button action="submit" [disabled]="!roomCode">Join Room</button>
      </div>
    </form>

    <!-- <div>
      <label class="db">Nickname</label>
      <input type="text" [(ngModel)]="name" name="name">
    </div> -->
  </div>

</main>

<footer>
  <a href="https://odedfalik.com" target="_blank">by oded</a>
</footer>
