header {
  display: grid;
  grid-template-columns: auto auto;
  min-height: 10vh;
  padding: 2em;

  > * {
    height: min-content;
    cursor: pointer;
  }

  h1 {
    font-size: 3em;
    font-weight: bold;

    span {
      font-size: 1rem;
      font-weight: normal;
    }
  }

  .top-right {
    justify-self: end;
    font-size: 1em;

    > i {
      min-width: 1.25em;
      text-align: center;
    }
  }
}

main {

  .main-menu {
    margin-top: 3em;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(12em, auto));
    grid-gap: 2em;
    @media screen and (max-width: 800px) {
      grid-template-columns: auto;
    }
  }

  .back-btn {
    margin: 0 2em;
  }

  .menu-b {
    margin-top: 3em;
    padding: 0.25em 4em;
    display: grid;
    grid-gap: 1em;

    .room-list {
      display: grid;
      // grid-template-columns: repeat(3, 1fr);
      grid-gap: 2em;

      span {
        margin: 0 2em;
      }
    }
  }

  input {
    text-transform: uppercase;
  }

  h3 {
    font-size: 2.25em;
    font-weight: 100;
    margin-bottom: 1em;
  }
}


footer {
  position: fixed;
  bottom: 2em;
  text-align: center;
  opacity: .2;
  width: 100%;

  a {
    font-weight: lighter;
    color: white;
  }
}
