<canvas #rendererCanvas id="renderer-canvas"></canvas>

<div class="vignette" [class.loading]="!rs.room || rs.room?.status === 'over'">
  <h4 class="waiting" *ngIf="!rs.room">Loading</h4>
</div>

<div
  class="gameover"
  [@fade]
  *ngIf="rs.room?.status === 'over'"
>
  <h3 *ngIf="rs.room?.victor === -1; else notDraw"> It's a draw </h3>
  <ng-template #notDraw><h3>
      {{
        rs.room?.victor === rs.playerIdx
          ? 'You'
          : rs.room?.players[rs.room?.victor]?.name
      }}
      won
  </h3></ng-template>

  <button
    (click)="rs.resetRoom()"
    *ngIf="rs.playerIdx === 0; else showWaitingForReset"
    [disabled]="rs.loadingRematch"
  >
    <i class="fas fa-circle-notch fa-spin" *ngIf="rs.loadingRematch"></i>
    Rematch
  </button>
  <ng-template #showWaitingForReset>
    <p>Waiting on {{ rs.room?.players[0]?.name }} to rematch</p>
  </ng-template>
</div>

<div class="header" *ngIf="rs.room">
  <p class="room-code" [class.lg]="rs.room?.status === 'waiting'">
    <span *ngIf="rs.playerIdx < 0">SPECTATING</span> {{ rs.room?.roomCode }}
    <i
      class="fas fa-share clickable"
      (click)="shareRoom()"
      *ngIf="canShare && rs.room?.status === 'waiting'"
    ></i>
  </p>
  <div class="players">
    <div
      *ngFor="let player of rs.room?.players; let i = index"
      class="player"
      [class.next]="rs.room?.nextPlayerIdx === i"
      [class.me]="rs.playerIdx === i"
    >
      <i class="fas fa-chevron-right next-marker"></i>
      <p>
        {{ player.name }}
      </p>
      <i class="fas fa-star side-i" *ngIf="player?.host"></i>
    </div>

    <p *ngFor="let i of rs.waiting" class="waiting">waiting for player</p>
  </div>
</div>

<div class="controls">
  <i
    class="fas fa-home fa-flip-horizontal clickable"
    (click)="rs.leaveRoom()"
  ></i>

  <!-- <div>
    <input *ngIf="chatOpen">
    <i class="fas fa-comment clickable" (click)="chatOpen = true"></i>
  </div> -->
</div>
