<canvas #rendererCanvas id="renderCanvas"></canvas>

<div class="vignette" [class.loading]="!gs.room">
  <h4>Loading...</h4>
</div>

<div class="notif" *ngIf="!authService.dbUser?.token">
  <p>
    Would you like to enable <br />
    turn notifications?
  </p>
  <div class="options">
    <i
      class="fas fa-check clickable"
      (click)="authService.requestPermission()"
    ></i>
    <i class="fas fa-times clickable" (click)="gs.pushRequest = false"></i>
  </div>
</div>

<div class="gameover" *ngIf="gs.room?.players[gs.room?.victor]">
  <h3>{{ gs.room?.players[gs.room?.victor].name }} won</h3>
</div>

<div class="header" *ngIf="gs.room">
  <p class="room-code" [class.lg]="!gs.room?.isFull">
    <span *ngIf="gs.spectating">SPECTATING</span> {{ gs.room?.roomCode }}
    <i
      class="fas fa-share clickable"
      (click)="shareRoom()"
      *ngIf="canShare && !gs.room.isFull"
    ></i>
  </p>
  <div class="players">
    <div
      *ngFor="let player of gs.room?.players; let i = index"
      class="player"
      [class.next]="gs.room?.nextPlayerIdx === i"
      [class.me]="gs.playerIdx === i"
    >
      <i class="fas fa-chevron-right next-marker"></i>
      <p>
        {{ player.name }}
      </p>
      <!-- <i class="fas fa-crown" *ngIf="player?.host"></i> -->
    </div>

    <p *ngFor="let i of gs.room?.waiting" class="waiting">waiting for player</p>
  </div>
</div>

<div class="controls">
  <i
    class="fas fa-sign-out-alt fa-flip-horizontal clickable"
    (click)="gs.leaveRoom()"
  ></i>
</div>
