canvas {
  display: block;
}

.header, .controls {
  position: absolute;
  padding: 2em;
  color: white;
}

.header {
  top: 0;
  pointer-events: none;

  .top-left {
    pointer-events: none;

    .next-player {
      background: white;
      color: black;
    }
  }

}

.controls {
  bottom: 0;
}
