canvas {
  display: block;
}

.header, .controls {
  position: absolute;
  padding: 2em;
  color: white;
}

.header {
  top: 0;
  pointer-events: none;

  .players {
    > * {
      text-transform: uppercase;
    }

    > :nth-child(1) {
      color: #2EC4B6;
    }

    > :nth-child(2) {
      color: #E71D36;
    }

    > :nth-child(3) {
      color: #FF9F1C;
    }

    .next-player {
      font-weight: bold;
    }
  }

}

.controls {
  bottom: 0;
}
