canvas {
  display: block;
}

.header, .controls {
  position: absolute;
  height: 5em;
  padding: 2em;
  color: white;
}

.header {
  top: 0;

  .me {
    color: red;
  }

  .next-player {
    background: white;
    color: black;
  }
}

.controls {
  bottom: 0;
}
